.card-login{
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;

}
.inp{
    border-radius:35px ;
    border: 1px solid black;
    padding: 20px;
    width: 18rem;
}
.logins{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-dark{
    border-radius: 20px;
}
.nav-deco{
    text-decoration: none;
    color: black;
}