.list-main{
    padding-bottom: 20px;
}
.card-top{
    border-radius: 20px;
    width: 70%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.item-cards{
    box-shadow: 5px 5px 2px 0px rgb(212, 210, 210) !important;
}
.icon-img{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4px;
}
.main{
    margin-left: -20px;
}
